/* Headerlogo */
h1{
   font-size: 80px;
   line-height: 94px;
   margin-bottom: 40px;
}
h1 a{
   color: #000;
}
h1 span{
   color: #4BCAFF;
}


/* Header Nav */
.header-content{
   margin: auto;
   margin-top: 68px;
   max-width: 1280px;
}
.header-nav{
   height: 70px;
   background-color: #35444F;
}
.header-nav ul{
   display: flex;
   justify-content: center;
}
.header-nav li{
   padding: 23px 35px;
   font-size: 24px;
   color: #FFFFFF;
   line-height: 24px;
   border-left: 1px solid #FFFFFF;
   transition-duration: 0.5s;
}
.header-nav li:last-child{
   border-left: 1px solid #FFFFFF;
   border-right: 1px solid #FFFFFF;
}
.header-nav li:hover{
   background-color: #222F3A;
}


/* Main Content */
.main-content{
   margin: auto;
   margin-top: 50px;
   max-width: 1280px;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}


/* Aside Bar */
.aside-bar{
   width: 345px;
   border: 1px solid #495863;
}
.aside-bar li{
   padding: 25px 45px;
   font-size: 27px;
   line-height: 1;
   color: #485863;
   transition-duration: 0.5s;
}
.aside-bar li:hover{
   padding: 25px 60px;
   background-color: #DBDBDB;
   color: #000;
}


/* Articl Content */
.article-content{
   max-width: 885px;
}
.img-wrepper{
   width: 885px;
   height: 530px;
   border: 1px solid #000;
   display: flex;
   justify-content: center;
   align-items: center;
}
.main-content p{
   margin-top: 35px;
}


/* Footer */
.footer-content{
   margin: 50px auto 30px;
   max-width: 1280px;
   height: 70px;
   background-color: rgba(99, 105, 110, 0.48);
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.footer-content nav{
   width: 875px;
}
.footer-nav-list{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer-nav-list li{
   font-size: 28px;
   line-height: 28px;
   padding: 5px 0px;
   color: #0C1927;
   transition-duration: 0.5s;
}
.footer-nav-list li:hover{
   font-size: 28px;
   line-height: 28px;
   padding: 5px 0px;
   color: #3181A6;
   border-top: 1px  transparent;
   border-bottom: 1px solid #3181A6;
}
.footer-content p{
   font-size: 24px;
   line-height: 24px;
}